<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivated</title>
</head>
<body>
    <div id="wrapper">
        <a href="/dashboard">Home</a>
        <a href="/login/page/login">Login</a>
        <h3>This will be filled with quote at some point</h3>
        <h1>Welcome to Motivated</h1>
        <p>Join other users in sharing thoughts, ideas, and motivation. The purpose of our site is to provide a place that you can be you. So say what you want to say. We're a blog, but with an emphasis on self growth. Get started and grow with others!</p>
        <a href="/login/page/register">Join</a>
    </div>
</body>
</html>