<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username Dashboard</title>
</head>
<body>
    <div id="wrapper">
    <a href="/user/post">New post</a>
    <a href="/user/profile/{{logged_user.id}}">Profile</a>
    <h6>Post of the day</h6>
    <h2>POST TITLE</h2>
    <p>Image box will go here</p>
    <p>Short description of that post entails</p>
    <a href="/post/details/{{post.id}}">Read</a>
    <h6>Random Posts</h6>
    <h6>Title</h6>
    <p>Image</p>
    <a href="/post/details/{{post.id}}">Read</a>
    <h5>followers and your own Posts</h5>
    <h4>Title</h4>
    <p>Image</p>
    <a href="/post/details/{{post.id}}">Read</a>
    </div>
</body>
</html>